<html>
    <head>
        <title>Writing</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@2.0.1"></script>
        <script src="https://unpkg.com/htmx-ext-sse@2.2.1/sse.js"></script>
        <script src="https://unpkg.com/htmx-ext-ws@2.0.0/ws.js"></script>
    </head>

    <body class="flex flex-col bg-gray-800 text-white h-full p-2">
        <main class="flex flex-col justify-center items-center gap-2 flex-1">
            <h1 class="text-6xl pb-8">Writing</h1>
            {% for piece in pieces %}
            {% if piece[1] %}
            <a href="/writing/{{piece[0]}}/0">
                {{piece[0]}}
            </a>
            {% else %}
            <a href="/writing/{{piece[0]}}">
                {{piece[0]}}
            </a>
            {% endif %}
            {% endfor %}
        </main>
    </body>
</html>
