<html>
    <head>
        <title>Writing</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@2.0.1"></script>
        <script src="https://unpkg.com/htmx-ext-sse@2.2.1/sse.js"></script>
        <script src="https://unpkg.com/htmx-ext-ws@2.0.0/ws.js"></script>
    </head>

    <body class="flex flex-col bg-gray-800 text-white h-full p-2">
        <main class="flex flex-col justify-center items-center gap-10 flex-1">
            {% for story_name in story_names %}
            <a href="/writing/{{story_name}}/0">
                <h1>{{story_name}}</h1>
            </a>
            {% endfor %}
        </main>
    </body>
</html>
